<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Listes de Todos</title>
</head>

<body>
  <h1>La liste des tâches à effectuer</h1>
  <div class="alert alert-success" *ngIf="message">{{ message }}</div>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>TargetDate</th>
          <th>isCompleted</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{todo.id}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.date | date}}</td>
          <td>{{todo.completed}}</td>
          <td><button class="btn btn-info" (click)="updateById(todo.id)">Update</button></td>
          <td><button class="btn btn-danger" (click)="deleteById(todo.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
